{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
    <main class="container">
        {% if messages %}
        <div class="container">
            <div class="row">
                <div class="my-div-style w-100">
                    <ul class="messages" style="list-style: none;">
                        {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}" {% endif %} >
                            {{ message }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
            <div class="col-md-8 px-0">
              <h1 class="display-4 fst-italic">国試用まとめ</h1>
            </div>
        </div>
        <h3> <a href="{% url 'search:all_word' %}">All word page</a> </h3>
        <h3> <a href="{% url 'search:search_word' %}">Search word page</a> </h3>
        <form action="{% url 'search:search_word' %}" method="post">
            {% csrf_token %}
            <input type="text" name="search_word" >
            <input type="submit" value="SEARCH">
        </form>
        <h3> <a href="{% url 'search:update_file' %}">Update a file</a> </h3>
        <hr>
        {% block body %}
        {% endblock %}

    </main> 
    <hr>
    <div class="blog footer">
        <footer class="blog-footer">
        <p>何かお問い合わせがあれば</p>
        <p></p>
        <p>
            <a href="#">Back to top</a>
        </p>
        </footer>
    </div>
</body>
</html>